 /*Body*/
body{
		/*para colocar una img de fondo*/
	background-image:url("../imagenes/fondo1.jpg");
		/*para ajustar el tamaño de la imagen*/
	background-size: 100% 100%;
	/*Font-Family es para el tipo de letra: si el 1o. no lo encuentra en el navegador, coloca el segundo
	, si no el tercero*/
	font-family: snow;
	/*Font-size es para el tamaño se expresa en px*/
	font-size: 30px;
	/*Color es para el color de las letras: Puedes colocar su 
	valor hexadecimal, el nombre del color o valores rbg*/
	color: #000000;
}
hr{
	/*border es para la linea
	tamaño en px Tipo de linea y color*/
	border: 2px solid #000000;
	/*border-radius es para el terminado de las orillas
	el radio que tendra se expresa en px*/
	border-radius: 2px;
}

p{
	/*Text-align se usa para alinear el texto
	por default estan alineados a la izquierda*/
	text-align: justify;
	font-size: 50px;
	color: black;
}
tables,td,tr{
	/*linea grosor y tipo de linea*/
	border:2px solid;
	/*color de la linea*/
	border-color:black;
	/*alineacion del texto*/
	text-align:center;
	/*color de fondo*/
	background-color:#CACFD2;
}
th{
	background-color:white;
}
ul{
	/*indica el tipo de viñeta, en este caso 
	un circulo, puede ser tmbn un cuadro*/
	list-style-type:circle;
	list-style-position: inside;
}

ol{
	/*Algunos de los valores de list-style-type son:
	lower-alpha; lower-roman; upper-alpha; upper-roman;
	a,b,c,d,e,f i,ii,iii,iv A,B,C,D,E,F I,II,III,IV*/
	list-style-type:upper-roman;
	list-style-position: inside;
}
.pie{
	text-align:center;
	font-size:18px;
	color: black ;
	font-family: snow;
	font-weight:bold;
}
.encabezado{
	font-family: Woman;
	font-size: 50px;
	text-align: center;
	color: black;
}
.text{
	font-size: 25px;
	color: Black;
	font-family: snow;
	text-align: center;
}
.tablas{
	font-family: snow;
	Font-size: 14px;
	color: black;
}
.img-marquee{
	width:600px;
	height:400px;
}
.img-hip{
	border-radius:50%;
	width:150px;
	height:150px;
}
.img-table{
	width:150px;
	height:200px;
}
.other-img{
	width:600px;
	height:400px;
	border:2px solid;
	padding:10px;
	border-color: black;
}
@font-face{
	font-family:Woman;
	src: url(../fuentes/Woman.ttf);
}
@font-face{
	font-family:snow;
	src: url(../fuentes/snow.otf);
}
.fuentegoogle{
	font-family:fuentegoogle;
	font-family:
	text-align:
	font-size:
}
*{
	margin:1px;
	padding:1px;
}
div#top{
	width:100%;
	height:100px;
	background-image:linear-gradient(#FFF5ED,#F1A765);
}
div#principal{
	margin:auto;
	margin-top:20px;
	width:80%;
	height:409px;
	background-image:radial-gradient(#FFF5ED,#F1A765);
}
div#paratablas{
	margin:auto;
	margin-top:20px;
	width:80%;
	height:1080px;
	background-image:radial-gradient(#FFF5ED,#F1A765);
}
div#ubi-lista{
	margin:auto;
	margin-top:20px;
	width:80%;
	height:500px;
	background-image:radial-gradient(#FFF5ED,#F1A765);
}
div#pie{
	margin-top:20px;
	width:100%;
	height:80px;
	background-image:linear-gradient(#FFF5ED,#F1A765);
}
.caja{
	height:300px;
	width:250px;
	background:#E9967A;
	border:1px solid #F1A765;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.cajaproductos{
	height:300px;
	width:700px;
	background:#E9967A;
	border:1px solid #F1A765;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px #E9967A;
	transform:scale(1.1);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:black;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
}
.contearrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}
.carrousel{
    width: 600px;
    margin:auto;
    box-sizing: border-box;
}

.conteCarrousel{
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px;
    box-sizing: border-box;
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}
/*
#itemCarrousel-1{
    background-color: red;
}

#itemCarrousel-2{
    background-color:blue;
}

#itemCarrousel-3{
    background-color: green;
}
#itemCarrousel-4{
    background-color: purple;
}
*/
.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.conteCarrouselController > a{
    text-decoration: none;
    font-size: 32px;
    color: grey;
}
.itemCarrouselArrows > a > i{
    color: white;
}
.textoProductos{
	width:500px;
	background-image:linear-gradient(pink,#E9967A);
	font-size:20px;
	color:black;	
}
.cajat{
	height:100px;
	width:100px;
	margin:5px;
	color:grey;
	text-align:center;
	display:inline-block;
}
.cajat:hover{
	box-shadow:0 0 10px black;
	transform:scale(1.3);
}